/*---Packages-----*/
.Packages-1 {
    padding: 17% 15% 3%;
    text-align: center;
}

.Packages {
    padding: 0 15% 3%;
    text-align: center;
}

.Packages-2 {
    padding: 0 15% 7%;
    text-align: center;
}

.price {
    padding: 3% 2%;
}