.navbar {
  padding: 1.5rem 0;
}

.nav-item {
  padding: 0 18px;

}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
  color: #ffffff;
}
.container1{
  height: 100%;
  width:100%;
}
.container-fluid {
  padding: 3% 15%;
}


#title {
  background-color: #000000;
  color: #fff;
  margin: 0;
}
.kruimg{
  height: 90px;
  width: 100px;
  display: block;
}
.azo1{
  background-color: #001429;
}
.azo2
{
  color:#ffffff;
}
.q1{
  margin-top: 100px;
  margin-left: 40px;
}
.saap2
{
  text-align: left;

}
.krut
{
  border-radius: 100%;
  height: 180px;
  width: 200px;
float: left;
margin-right: 50px;
margin-left: 50px;
margin-top: 20px;
}
.deva
{

  background-image: url('bg.jpg');
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;

}
.harita2{
  margin-bottom: 20px;
}
.azo2
{
  color:#ffffff;
  text-align: center;

}
.azo3{
  margin-bottom: 100px;
}
.a1{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  background-color: #001429;

}
.z{
  margin-bottom: 50px;
}
.z1{
  margin-bottom: 25px;
}
p{
  font-size: 100%
}
.d2{
  background-color: #000000;
}
.f2{
  color: #ffffff;
}
.q1{
  padding-left: auto;
  padding-right: auto;
}

@media(max-width:900px){
  .krut{
    width:30%;
  }
}
