.blog-content {
    padding: 13% 15% 7%;
    font-family: "Ubuntu";
    text-align: justify;
}

.img {
    text-align: center;
    padding: 5%;
    font-size: 1rem;
}

.image {
    width: 20%;
}

.center {
    text-align: center;
}

@media (max-width:700px) {
    .blog-content {
        padding-top: 18%;
    }
}